<div id='container'>
  <!-- Your html here -->
  <navigation-bar></navigation-bar>

  <input type='text' placeholder='Search for website...' ng-model='searchText'>
  <div class='link' ng-repeat='link in data.links | orderBy: "-visits" | filter:searchText'>
  <!-- {{ link }} -->
  <div class='info'>
      <div class='visits'><span class='count'>{{link.visits}}</span>Visits</div>
      <div class='title'>{{link.title}}</div>
      <div class='original'>{{link.url}}</div>
      <a href='{{link.base_url}}/api/links/{{link.code}}'>{{link.base_url}}/api/links/{{link.code}}</a>
    </div>
  </div>
</div>



